@import "variables";
@import "home";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bg-color;
}
* {
  outline: none;
  border: none;
  text-decoration: none;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
