$bg-color: white;
$primary-color: rgb(30, 30, 30);
$secondary-color: #9ca3af;
$general-color: #be123c;
$width: 100%;
$max-width: 1200px;
@mixin fit-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
